<H1>POOOP</H1>

<ol>
@foreach (Poop poop in Model)
{

    <ul>
        <li>ID: @poop.PoopId</li>
        <li>Color: @poop.Color</li>
        <li>Problem: @poop.Problem</li>
        <li>Solution: @poop.Solution</li>
        <br>
    </ul>
}
</ol>